$color_1: #5F5F5F;
$color_2: #61CCF4;
$font-family_1: "neue-haas-grotesk-display", sans-serif;
$font-family_2: "panel-mono", monospace;
$background-color_1: #fff;
$background-color_2: #F2D510;

body {
	background-image: url("images/backgroundrecipe.png");
}
.head {
	img {
		&:hover {
			opacity: 50%;
		}
		padding-top: 30px;
	}
}
.r1 {
	img {
		&:hover {
			opacity: 50%;
		}
	}
}
.r2 {
	img {
		&:hover {
			opacity: 50%;
		}
	}
}
.r3 {
	img {
		&:hover {
			opacity: 50%;
		}
	}
}
.footerblurb {
	h3 {
		font-family: $font-family_1;
		font-weight: 900;
		font-style: normal;
		color: $color_1;
		font-size: 3.75rem;
	}
}
.footertext {
	textarea {
		text-decoration: none;
		border-bottom: 2px solid white;
	}
}
.foot {
	padding-bottom: 50px;
	padding-top: 50px;
	background-image: url("../images/footerbackground.png");
	background-size: 100% 100%;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
}
.navbar-nav {
	>li {
		background: none;
		>a {
			font-family: $font-family_2;
			font-weight: 700;
			font-style: normal;
			font-size: 1.25rem;
			color: $color_1;
			background: none;
		}
	}
	background: none;
}
.navbar-light {
	.navbar-nav {
		.nav-link {
			&:hover {
				color: $color_2;
			}
		}
		.nav-link.active {
			color: $color_2;
		}
	}
}
.bg-light {
	background-color: $background-color_1 !important;
}
form {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	font-size: 1.25rem;
}
input[type="text"] {
	border: 0px;
	border-bottom: 3px solid #fff;
	text-decoration: none;
	width: 98%;
	margin-top: 25px;
	background-color: $background-color_2;
}
input[type="email"] {
	border: 0px;
	border-bottom: 3px solid #fff;
	text-decoration: none;
	width: 98%;
	margin-top: 25px;
	background-color: $background-color_2;
}
input[type="subject"] {
	border: 0px;
	border-bottom: 3px solid #fff;
	text-decoration: none;
	width: 98%;
	margin-top: 25px;
	background-color: $background-color_2;
}
.homeblurb {
	background-color: $background-color_2;
	padding: 35px;
	border-radius: 40px;
	margin-top: -575px;
	color: $color_1;
	h1 {
		font-family: $font-family_1;
		font-weight: 900;
		font-style: normal;
		font-size: 3rem;
		color: $color_1;
	}
	p {
		font-family: $font-family_2;
		font-weight: 700;
		font-style: normal;
		font-size: 1.5vw;
		color: $color_1;
	}
}
.banner {
	img {
		z-index: -1;
	}
}
.homeimages1 {
	img {
		padding: 30px;
	}
}
.homeimages2 {
	img {
		padding: 30px;
	}
}
.viewall {
	border: 0px;
	text-decoration: none;
	background-color: $background-color_2;
	margin-left: 25px;
	padding: 15px;
	font-family: $font-family_1;
	font-weight: 900;
	font-style: italic;
	font-size: 1.5rem;
	border-radius: 20px;
	color: $color_1;
	&:hover {
		opacity: 50%;
	}
}
.homerec {
	padding-top: 130px;
}
.motmhome {
	font-family: $font-family_1;
	font-weight: 900;
	font-style: italic;
	font-size: 1.125rem;
	color: $color_1;
}
.cobhome {
	font-family: $font-family_1;
	font-weight: 900;
	font-style: normal;
	font-size: 5.313rem;
	color: $color_1;
}
.timehome {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	font-size: 0.938rem;
	margin-left: 523px;
	margin-top: -281px;
	padding-bottom: 281px;
	color: $color_1;
}
.homerecdesc {
	font-family: $font-family_2;
	font-weight: 500;
	font-style: normal;
	font-size: 1.5rem;
	margin-right: 24px;
	margin-top: -75px;
	color: $color_1;
}
.above {
	border-top: 7px solid #61CCF4;
	opacity: 100;
}
.below {
	border-top: 7px solid #61CCF4;
	opacity: 100;
}
.homecobby {
	padding-bottom: 60px;
}
.bootom {
	border-top: 7px solid #61CCF4;
	opacity: 100;
	margin-top: -32px;
	margin-left: 262px;
}
.fullrecipe {
	border: 0px;
	text-decoration: none;
	background-color: $background-color_2;
	padding: 15px;
	font-family: $font-family_1;
	font-weight: 900;
	font-style: italic;
	font-size: 1.188rem;
	color: $color_1;
	border-radius: 20px;
	&:hover {
		opacity: 50%;
	}
}
.myintent {
	font-family: $font-family_2;
	font-weight: 900;
	font-style: italic;
	font-size: 1.875rem;
	color: $color_1;
	margin-left: 30px;
	padding-bottom: 60px;
	margin-top: 60px;
	padding-top: 40px;
	p {
		margin-top: 40px;
	}
}
.intent {
	background-image: url("../images/middlehomeblurb.png");
	background-size: 100% 100%;
	width: 100%;
	margin-top: 60px;
	margin-bottom: 60px;
}
.color {
	margin-top: 50px;
	z-index: -1;
}
.homeimages4 {
	padding-top: 20px;
	margin-left: -34px;
}
.homebott {
	margin-top: -253px;
	padding-bottom: 100px;
}
.p1 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	color: $color_1;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.p2 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	color: $color_1;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.p3 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	color: $color_1;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.p4 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	color: $color_1;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.p5 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	color: $color_1;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.p6 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	color: $color_1;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.p7 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	color: $color_1;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.p8 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	color: $color_1;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.p9 {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	color: $color_1;
	font-size: 1.25rem;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
}
.recipehead {
	font-family: $font-family_1;
	font-weight: 900;
	font-style: normal;
	font-size: 7.188rem;
	color: $color_1;
	padding-top: 50px;
	padding-bottom: 50px;
}
.recipehr {
	border-top: 7px solid #61CCF4;
	opacity: 100;
	margin-top: -50px;
	margin-right: 1550px;
}
.ssc {
	font-family: $font-family_1;
	font-weight: 900;
	font-style: normal;
	font-size: 6.25rem;
	color: $color_1;
	padding-top: 50px;
}
.direct {
	list-style: none;
	font-family: $font-family_2;
	font-weight: 900;
	font-style: italic;
	font-size: 1.42rem;
	color: $color_1;
	li {
		padding-top: 40px;
	}
}
.dirt {
	background-image: url("../images/directionsimg.png");
	background-size: 100% 100%;
	width: 90%;
	padding-bottom: 90px;
	padding-top: 30px;
	margin-top: 90px;
}
.numbers {
	list-style: none;
	list-style: none;
	margin-top: -90px;
	font-family: $font-family_2;
	font-weight: 900;
	font-style: italic;
	font-size: 3.75rem;
	color: $color_1;
	li {
		padding-top: 137px;
	}
}
.serv {
	font-family: $font-family_2;
	font-weight: 700;
	font-style: normal;
	font-size: 1.125rem;
	color: $color_1;
	padding-top: 20px;
}
.reviews {
	font-family: $font-family_1;
	font-weight: 700;
	font-style: normal;
	font-size: 1.125rem;
	color: $color_1;
	padding-top: 10px;
}
.cobbdescm {
	font-family: $font-family_2;
	font-weight: 900;
	font-style: italic;
	font-size: 2.188rem;
	color: $color_1;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
}
.ingredients {
	font-family: $font-family_1;
	font-weight: 900;
	font-style: normal;
	font-size: 3.75rem;
	color: $color_1;
}
.directions {
	font-family: $font-family_1;
	font-weight: 900;
	font-style: normal;
	font-size: 3.75rem;
	color: $color_1;
	padding-bottom: 10px;
}
.ingredient1 {
	list-style: none;
	font-family: $font-family_1;
	font-weight: 700;
	font-style: normal;
	font-size: 1.125rem;
	color: $color_1;
	label {
		padding-top: 25px;
	}
}
.ingredient2 {
	list-style: none;
	font-family: $font-family_1;
	font-weight: 700;
	font-style: normal;
	font-size: 1.125rem;
	color: $color_1;
	margin-top: 27px;
	label {
		padding-top: 25px;
	}
}
.nutrition {
	font-family: $font-family_1;
	font-weight: 900;
	font-style: normal;
	font-size: 3.75rem;
	color: $color_1;
	padding-top: 50px;
	padding-bottom: 10px;
}
.nut {
	padding-top: 100px;
	padding-bottom: 90px;
}
.nut3 {
	background-image: url("../images/nutrition.png");
	background-size: 100% 100%;
	margin-top: 60px;
}
.nut1 {
	list-style: none;
	font-family: $font-family_1;
	font-weight: 400;
	font-style: normal;
	font-size: 1.4rem;
	color: $color_1;
	padding-bottom: 80px;
	li {
		padding-top: 30px;
	}
}
.nut2 {
	list-style: none;
	font-family: $font-family_1;
	font-weight: 400;
	font-style: normal;
	font-size: 1.4rem;
	color: $color_1;
	li {
		padding-top: 30px;
	}
}
.motmhr {
	border-top: 7px solid #61CCF4;
	opacity: 100;
}
.f {
	margin-top: 60px;
}
.fi {
	margin-top: 110px;
}
.s {
	margin-top: 30px;
}
.fb {
	img {
		&:hover {
			opacity: 50%;
		}
	}
}
.ig {
	img {
		&:hover {
			opacity: 50%;
		}
	}
}
.arrow {
	&:hover {
		opacity: 50%;
	}
}
